{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-sm-12">
        <h3>Store Health</h3>
        <p>
            Check out what people are saying about a specific store and how you
            could improve the customer experience.
        </p>
    </div>

    <div class="col-md-4">
        <form method="POST">
            <div class="form-group">
                <label for="zipcode">Zip Code</label>
                <input
                    type="number"
                    class="form-control"
                    id="zipcode"
                    name="zipcode"
                    aria-describedby="emailHelp"
                    placeholder="Enter zipcode."
                />
            </div>
            <div class="form-group">
                <label for="radius">Radius</label>
                <input
                    type="number"
                    class="form-control"
                    id="radius"
                    name="radius"
                    placeholder="Radius"
                />
            </div>
            <div class="form-group form-check">
                <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1"
                    >Check me out</label
                >
            </div>
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </form>
    </div>
</div>
{% endblock %}
