{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Check how your store's doing:</h3>
        <a
            class="btn btn-primary"
            href="{{ url_for('findReview') }}"
            role="button"
            >Reviews</a
        >
        <h3>Check the status of your appointments:</h3>
        <a
            class="btn btn-primary"
            href="{{ url_for('findCustomer') }}"
            role="button"
            >Appointments</a
        >
    </div>
</div>
{% endblock %}
